#titlebox, #discriptionbox, #randombox, #winandlossesbox, #imagesbox, #yourscore, #scorebox{
    margin: 5px;
}

#titlebox{
    background: orange;
    text-align: center;
}

#discriptionbox{
    background: #FFE4C4;
}

#winandlossesbox{
    background: #00FFFF;
}

#randombox{
    background: lightgreen;
}

#yourscore, #scorebox{
    background: #20B2AA;
    color: white;
}

#scorebox{
    height: 100px;
}


h1{
    color: white;
}
p{
    color: green;
}